.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.logo-small {
  width: 40px;
}

.pad-7 {
  padding: 8px;
}

.pokemons-container {
  display: flex;
  flex-wrap: wrap;
}
